.adm-page-container{
    margin:4em;
}

.adm-status-div{
    margin:1em;
    padding:1em;
    width: 100%;
    min-height: 5em;
    
    background: #20BCE6;
    box-shadow: 0px 5px 25px rgba(32, 188, 230, 0.68);
    border-radius: 10px;
}

.adm-status-div h4,
.adm-status-div h6{
    color:white;
}

.adm-pending-icon-div{
    border-radius: 50%;
    background-color: white;
    text-align: center;
    width: 3.5em;
    height:3.5em;
}

.adm-pending-icon{
    margin-top:0.1em;
    font-size:3em;
}


.adm-page-content{
    margin-top:1em;
    margin-left:1em;
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(15, 13, 154, 0.3);
    border-radius: 10px;
    padding:3em;
}

.adm-res-header{
    margin-bottom:1em;
}

.adm-res-content h3{
    padding-left:0;
}

.adm-notification-item{
    width: 742px;
    height: 109px;
    margin:0;

    background: rgba(15, 13, 154, 0.3);
    border-radius: 10px;
    padding:1em;
    display: flex;
    align-items: center;
}

.adm-notification-item img{
    width:40px;
    height: 40px;
}

.adm-notification-item p{
        
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 0.8em;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}

.adm-notification-before-item{
    display: flex;
    align-items: center;
    margin-top:1em;
}

.adm-notification-before-item img{
    width:40px;
    height: 40px;
}

.adm-notification-before-item p{
        
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 0.8em;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

}


.adm-approved-exp-cont{
    box-shadow: 0px 5px 25px #DADCE4;
    border-radius: 10px;
    padding:1em;
}
