.up-page-content{
    margin-top:1em;
    margin-left:1em;
    box-shadow:none;
    border-radius: 10px;
    padding:3em;
}

.up-container-left{
    min-height: 30em;
    left: 309px;
    top: 196px;
    padding-top:2em;

    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.up-user-avatar{
    width:10em;
    height:10em;
}

.up-container-left hr{
    width:10em;
}

.up-user-name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.01em;

    color: #494E67;
    text-align: center;
}

.up-user-type{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.01em;

    color: #494E67;
}

.up-container-right{    
    margin-left:2em;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding:2em;
}