
.ud-page-content{
    margin-top:3em;
    margin-left:3em;
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgba(15, 13, 154, 0.3);
    border-radius: 10px;
    padding:3em;
}

.ud-notification-item img{
    width:40px;
    height: 40px;
}
