.aafe-container{
    margin: 3em !important;
}

.aafe-show-tab{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.01em;
    margin-right:1em;
    text-decoration: none;
    color: #494E67;
}

.aafe-show-tab:hover{
    cursor:pointer;
}

.aafe-show-tab.active{
    color: #20BCE6;
    border-radius: 5px;
}

.aafe-e-dialog{
    margin-bottom:1em;
}

.aafe-e-dialog-header{
    background-color: #0F0D9A;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.5em !important;;
    margin: 0!important;
}

.aafe-e-dialog-header h6{
    color: white;
}
.aafe-e-dialog-header div{
    text-align: center;
}

.aafe-e-dialog-content{
    border-left: 1px grey solid;
    border-right: 1px grey solid;
    padding-bottom:1em;
}

.aafe-e-dialog-content .row>div{
    margin-top:1em;
    text-align: center;
}

.aafe-e-dialog-footer{
    border:1px grey solid;
    padding:1em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}